springschemademo/src/main/resources/META-INF/computer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://blog.csdn.net/boling_cavalry/schema/computer"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://blog.csdn.net/boling_cavalry/schema/computer"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="computer">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="os" type="xsd:string"/>
                    <xsd:attribute name="ram" type="xsd:int"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>